@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import '~bootstrap';
@import '~bootstrap-vue';
@import '~vue-select/src/scss/vue-select';

.vs--searchable {
    background-color: #ffffff;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $gray-300;
}
