@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import '~bootstrap';
@import '~bootstrap-vue';
@import '~vue-select/src/scss/vue-select';

.vs--searchable {
    background-color: #ffffff;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $gray-300;

    .logo-wrapper {
        //max-height: 60px;

        > img {
            max-height: 54px;
            width: auto;
        }
    }
}

.cls-1 {
    fill: #58595b;
}

.cls-2 {
    fill: #f15a22;
}

.document-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.1;
    margin-bottom: .5rem;
    transition: all 250ms ease-in-out;
    padding: .5rem;

    i {
        color: #ae978f;
    }

    a {
        color: #f15a22;
    }

    .download {
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }

    &:hover {
        .download {
            opacity: 1;
        }
    }
}
